﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>ByteBank</title>
</head>
<body>
    <h1>ByteBank!</h1>
    <h2> {{ValorOrigem}} {{MoedaOrigem}} = {{ValorDestino}} {{MoedaDestino}} </h2>
    <p>Como o cartão {{CartaoPromocao}} você pode fazer compras em outras moedas sem pagar taxas extras!</p>
</body>
</html>