﻿

<form action="/Login/Autentica" method="post" >

    <label for="login">Login: </label>
    <input type="text" name="login" id="login" class="form-control" />

    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha"  class="form-control"/>

    <input type="submit" value="Autenticar" />
       
</form>