.frase {
    font-size: 20px;
    text-align: left;
}

.campoDigitacao {
    font-size: 20px;
    height: 130px;
    border: 3px solid black;
}

.bordaValida{
    border:3px solid green;
}

.bordaInvalida{
    border:3px solid red;
}

.campoDesativado{
    background-color: lightgray;
}

.icones{
    vertical-align: middle;
}

.placar{
    display:none;
}

body {
    overflow: scroll;
}
#erro {
    color:red;
    display:none;
}

#spinner {
    display:none;
}

#fraseId {
    width: 40px;
}

#botaoSync {
    float:right;
}

.select-usuarios {
    display: inline-block;
}

#usuarios {
    display: block;
}

.selectize-input {
    width: 150px;
    vertical-align: middle;
}