.card{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}


#botao-jogue{
	width: 150px;
	display: block;
	margin: 50px auto;
}

.imagem-jogo {
	/* border: 2px solid gray; */
}

.slider{
	height: auto;
}

.slick-prev:before, .slick-next:before {
	color: black;
}