﻿
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nome</td>
                        <td>@categoria.Descricao</td>
                    </tr>
                }
            </tbody>
        </table>