<template>
  <div>
    <img src="/static/gato.jpg">
    <h1 class="centralizado">{{ titulo }}</h1>
    <p v-show="mensagem" class="centralizado">{{ mensagem }}</p>
    <input v-on:input="filtro = $event.target.value" type="search" class="filtro" placeholder="Filtre por titulo">
    <ul class="listaFotos">
      <li class="lista-fotos-item" v-for="foto of fotosComFiltro" :key="foto._id">

        <meu-painel :titulo="foto.titulo">
          <imagem-responsiva v-meu-transform:scale.animate="1.2" :url="foto.url" :titulo="foto.titulo"/>
          <router-link :to="{name: 'altera', params: { id:foto._id }}">
            <meu-botao tipo="button" rotulo="Alterar"/>
          </router-link>
          <meu-botao tipo="button" rotulo="Remover" @botaoAtivado="remove(foto)" :confirmacao="true" estilo="perigo"/>
        </meu-painel>

      </li>
    </ul>
  </div>
</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import ImagemResponsiva from '../shared/imagem-responsiva/imagemResponsiva.vue';
import Botao from '../shared/botao/Botao.vue';
import transform from '../../directives/Transform';
import FotoService from '../../domain/foto/FotoService';

export default {

  components: {
    'meu-painel': Painel,
    'imagem-responsiva': ImagemResponsiva,
    'meu-botao': Botao
  }, 
  directives: {
    'meu-transform': transform
  },

  data(){
    return {
      titulo: 'Alura',
      fotos: [],
      filtro: '',
      mensagem: ''
    }
  },
  created(){

    
    this.service = new FotoService(this.$resource);
    this.service
      .lista()
      .then(fotos => this.fotos = fotos, err => this.mensagem = err.message);

    // let promise = this.$http.get('v1/fotos');
    // promise
    //   .then(res => res.json())
    //   .then(fotos => this.fotos = fotos, err => console.log(err));
  },
  computed: {
    fotosComFiltro() {
      if(this.filtro){
        let exp = new RegExp(this.filtro.trim(), 'i');
        return this.fotos.filter(foto => exp.test(foto.titulo));
      } else {
        return this.fotos;
      }
    }
  },
  methods: {
    remove(foto) {

      //this.resource.delete({id: foto._id})
      //this.$http.delete(`v1/fotos/"${foto._id}`)
      this.service.apaga(foto._id)
      .then(() => {
          let indice = this.fotos.indexOf(foto);
          this.fotos.splice(indice, 1);
          this.mensagem = 'Foto removida com sucesso';
        }, 
        err => this.mensagem = err.message);
    }
  }
}
</script>

<style>

.centralizado {
  text-align: center;
}

.listaFotos {
  list-style: none;
}

.listaFotos .lista-fotos-item {
  display: inline-block;
}

.filtro{
  display:block;
  width:100%;

}

</style>
