﻿
    <div>
        Id: @ViewBag.Produto.Id<br />
        Nome: @ViewBag.Produto.Nome<br />
        Quantidade: @ViewBag.Produto.Quantidade<br />
        Preço: @ViewBag.Produto.Preco <br />
        Descrição: @ViewBag.Produto.Descricao<br />
        Categoria: @ViewBag.Produto.Categoria.Nome<br />

        @Html.ActionLink("Voltar para a lista de produtos", "Index", "Produto");
    </div>
