.citacao {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}

.citacao site {
    float: right;
    font-style: italic;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}