article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.ler-mais {
    font-size: 24px;
    text-decoration: none;
}

.ler-mais:hover {
    text-decoration: underline;
}