.img-container {
    box-sizing: border-box;
    padding: 16px;
    background-color: #FAFFFC;
    border: 8px solid black;
    width: 40%;
    height: 50%;
    margin: 10px;
}

.img-container img {
    width: 240px;
    height: 125px;
}

.box-imgs {
    display: inline-block;
    box-sizing: border-box;
}

.posicao {
    float: left;
}