main {
    width: 85%;
    float:left;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

.conteudo {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    padding-bottom: 80px;
}


#titulo-principal {
    font-size: 60px;
    color:#FAFFFA;
    background-color: #851944;
    text-align: center;
    padding: 25px;    
    margin: 0px;
    border-bottom: 10px solid black;   
    text-transform: uppercase; 
}

main a {
    color: #851944;
}



blockquote, aside {
    padding: 25px;
}

.menu-lateral {
    box-sizing: border-box;
    float: right;
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    width: 15%;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    position: relative;
    top: 310px;
}
.foto-nav {
    box-sizing: border-box;
    float: right;
    /* width: 15%; */
    border-bottom: 10px solid black;
    border-left: 10px solid black;
    position: absolute;
    top: 0px;
    right: 0px;
}

.icones-sociais li{
    display: inline-block;
}

.icones-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}

.github {
    background-image: url("../img/github.png");
}

.twitter {
    background-image:  url("../img/twitter.png");
}

.linkedin {
    background-image: url("../img/linkedin.png");
}

.menu-lateral h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

nav a {
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
}

h2 {
    font-size: 30px;
    clear: both;
}

a {
    font-family: "Open Sans Condensed", sans-serif;
}

p {
    text-align: justify;
    margin: 20px 0;
}
body {
    line-height: 1.5;
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
}

#rodape-pagina {
    background-color: black;
    color: #F2FFFC;
    padding: 20px;
    clear:both;
    position:fixed;
    bottom: 0;
    width: 100%;
}


em { 
    font-style: italic;
}

strong {
    font-weight: bold;
}


