h2 {
	padding-top: 5px;
	padding-left: 5px;
}
p {
	padding-left: 10px;
	padding-right: 10px;
}
.exp{
	text-indent: 50px
}

#email{
	text-decoration: underline;
	font-style: italic;
}

body{
	
	font-family: "Open Sans Condensed", sans-serif;
	background-color: #b1b1b1;
	/* width: 940px; 
	margin-right: auto;
	margin-left: auto;  */
}
.cabecalho {
	background-color: #c7c7c7;
    text-align: center;
    width: 260px;
    height: 450px;
    float:right;
    position: fixed;
    top: 0;
	right: 0;
	box-shadow: -8px 10px 10px -3px rgba(0,0,0,0.75);
}

.cabecalho p {
	padding: 0;
}

main {
	width: 56%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin: 10px 10px;
	padding: 10px;
}
.div-cards {
    width: 100%;
}

#cursos-idiomas {
	margin-left: auto;
    margin-right:auto;
    width: 100%;
}

#cursos {
	width: 48%;
	float:left;
}

#idiomas {
	width: 98%;
	height: 198px;
}

#exp {
	width: 98%;
	height: 197px;
}

#caixa {
	display: inline-block;
	box-sizing: border-box;
	width: 47%;
}

#foto-perfil img {
	width: 100px;
	height: 100px;
}

#foto-perfil {
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	height: 130px;
	background-color: white;
	text-align: center;
	padding: 10px;
	font-family: cursive;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
}

#foto-perfil:hover {
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-o-transform:rotate(10deg);
}

.figuraProjeto ul {
	list-style-type: none;
	padding-left: 5px;
}
.figuraProjeto ul li {
	width: 48%;
	display: inline-block;
	box-sizing: border-box;
	margin: 5px;
	
}

.figuraProjeto ul li figure {
	background-color: rgb(206, 206, 206);
	border-radius: 10px;
	text-align: justify;
	display: inline-block;
}

.figuraProjeto ul li figure img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 10px;
	
}